<table class="mx_g_top" align="center" cellpadding="0" cellspacing="1" border="0">
	<tr>
		<td class="mx_g_logo"><img src="https://www.game-if.com/images/opensocial/mixi/legion_logo_ingame.png" alt="レジオン-創世伝説-"/></td>
		<td valign="bottom">
			<div class="mx_g_server">${server.serverName}</div>
			<div class="mx_g_start">[ ${server.serviceStartYmd}～ ]</div>
		</td>
		<td class="mx_g_menu" valign="bottom">
			<a href="javascript:_inviteFriends();" title="友達紹介で150GPゲット！">友達紹介</a>
			<!-- <a href="javascript:_gotoGameIFCharge(${server.serverId});" title="GP購入">GP購入</a> -->
			<a href="http://mixi.jp/view_community.pl?id=4934209" target="_blank" title="コミュニティ">コミュニティ</a>
			<a href="http://mixi.jp/view_bbs.pl?id=52367090" target="_blank" title="お知らせ">お知らせ</a>
			<a href="javascript:_gotoGuidePage();" title="初心者ガイド">初心者ガイド</a>
		</td>
	</tr>
</table>
<iframe id="mx_g_screen" src="${playUrl}" width="945" height="600" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"></iframe>