<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="backOfficeProperties" class="com.gameif.backoffice.helper.BackOfficeProperties" scope="singleton">

		<property name="actionTitles">
			<map>
				<entry key="giveTicket" value="チケット付与"/>
			</map>
		</property>

		<property name="authorityLevels">
			<map>
				<entry key="0" value="権限なし"/>
				<entry key="1" value="参照"/>
				<entry key="2" value="編集"/>
			</map>
		</property>
		
		<property name="inquiryTypes">
			<map>
				<entry key="0" value="会員"/>
				<entry key="1" value="メディア"/>
				<entry key="2" value="その他"/>
			</map>
		</property>
		
		<property name="correspondStatus">
			<map>
				<entry key="0" value="未対応"/>
				<entry key="1" value="対応済"/>
				<entry key="2" value="対応中"/>
			</map>
		</property>
		
		<property name="ticketTypeCd">
			<map>
				<entry key="1" value="友達紹介"/>
				<entry key="2" value="アンケット"/>
				<entry key="3" value="ランキング"/>
				<entry key="4" value="改善提案"/>
				<entry key="5" value="ゲームに連続ログイン"/>
				<entry key="6" value="補償"/>
				<entry key="7" value="テスト用"/>
				<entry key="8" value="その他"/>
			</map>
		</property>
		<property name="inviteType">
			<map>
				<entry key="1" value="メールで紹介"/>
				<entry key="2" value="リンクで紹介"/>
			</map>
		</property>
	</bean>
	
</beans>