.header {
	line-height: 1.1;
	margin: 0 auto;
	min-width: 760px;
	text-align: center;
}

.contents {
	width: 760px;
	margin: 20px auto 0;
	text-align: left;
}

.footer {
	line-height: 1.1;
	min-width: 760px;
	margin: 20px auto 0;
	text-align: center;
}

.footer ul li {
	float: left;
	margin: 0 4px;
}