<div style="font-size:12px;margin:40px">
	<div style="font-weight:bold;font-size:14px;color:#F60;height:30px;">「レジオン-創世伝説- for mixi」はお客様からのリクエスト処理に失敗しました。</div>
	原因としては下記のようなものが考えられます。
	<ul>
		<li>存在しないデータへのアクセスを要求している。</li>
		<li>期限切れデータへのアクセスを要求している。</li>
		<li>サーバ側の処理が終わっていないうちに、繰り返して同じリクエストを重複送信している。</li>
		<li>複数人が同じデータを処理している。</li>
		<li>ハッキング目的でサイト攻撃している。</li>
	</ul>
	正常に使っているにもかかわらず何度もこの画面が表示される場合は、アプリ提供者にお問合せください。<br/><br/>
	■ <a href="https://mixi.jp/inquiry_appli.pl?id=16485">提供者にお問合せする</a>
</div>