body {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:'Arial','Courier','ＭＳ Ｐゴシック',monospace;
	background:url(../../../images/opensocial/mixi/bg_top_legion.jpg) no-repeat center top;
}
div.page {
	width:740px;
	height:500px;
	margin:200px auto 0px auto;
}
div.page_title {
	padding:5px;
	background-color:#001;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	border-top:1px solid #FFF;
}
div.page_main {
	background-color:#F6F6F6;
	border:1px solid #999;
	padding:20px 12px;
	text-align:center;
}
td {
	text-align:left;
}
input[type="submit"], input[type="reset"], input[type="button"] {
	width:130px;
	height:24px;
	paddint-top:2px;
	font-size:12px;
}
div.copyright {
	padding:6px;
	font-size:10px;
	color:#666;
	text-align:center;
	border-bottom:8px solid #333;
}
div.about_sbps {
	margin:20px auto;
	text-align:center;
	color:#666;
}
div.sbps_logo {
	margin:10px auto;
	text-align:center;
}