/*********【共通】***************************************************************/
body {
	margin:0px;
	padding:0px;
	color:#333;
	font-size:14px;
	font-family:'Arial','Courier','ＭＳ Ｐゴシック',monospace;
	background-color:#FFF9CC;
}
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#FC3;
}
a img {
	border:0px;
}
a img:hover {
	opacity: 0.8;                    /* Firefox, Safari(WebKit), Opera */
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	filter: alpha(opacity=80);       /* IE 4-7 */
}
div.clearbox {
	height:0px;
	clear: both;
}
input.ime_mode_n {
	ime-mode:disabled;
}
input.ime_mode_y {
	ime-mode:active;
}
input[type="submit"], input[type="reset"], input[type="button"] {
	width:150px;
	height:24px;
	paddint-top:2px;
	font-size:12px;
}
label {
	font-size:12px;
	font-weight:normal;
	color:#555;
}
span.input_error {
	color:#F00;
	font-size:10px;
	font-weight:bold;
}
span.input_error ul {
	display:inline;
	list-style:none;
	margin:0px;
	padding:0px;
}
span.input_error ul li {
	display:inline;
	margin:0px;
	padding:0px;
}
span.logic_error {
	color:#F00;
	font-size:10px;
	font-weight:bold;
}
span.logic_error ul {
	display:inline;
	list-style:none;
	margin:0px;
	padding:0px;
}
span.logic_error ul li {
	display:inline;
	margin:0px;
	padding:0px;
}

/*********【共通】トップ ********************************************************/
div.page_top {
	width:980px;
	height:130px;
	margin:0px auto 0px auto;
}
div.pt_left {
	float:left;
	width:450px;
	text-align:center;
}
div.pt_right {
	float:right;
}
div.pt_right a {
	padding:0px 4px;
}
div.pt_right a:hover {
	text-decoration:underline;
}

/*********【共通】トップメニュー ************************************************/
div.page_top_menu {
	width:100%;
	height:30px;
	text-align:center;
	background-image:url("../../images/joint/bg_top_menu.gif");
}
/*********【共通】フッター ******************************************************/
div.page_bottom {
	width:980px;
	margin:40px auto 10px auto;
	border-top:5px solid #3C2F2D;
	padding-top:10px;
	font-size:10px;
	text-align:center;
}
/*********【共通】メイン ********************************************************/
div.page_main_box {
	width:980px;
	margin:30px auto;
}
/*********【完了画面】完了メッセージ ********************************************/
dl.finish {
	font-size:12px;
	margin:30px 10px;
	background:none;
}
dl.finish dt {
	font-size:14px;
	font-weight:bold;
	margin:20px 0px;
	color:#F60;
	background:none;
}
dl.finish dd div.msg {
	margin:20px 8px;
	margin-bottom:40px;
	line-height:18px;
}
dl.finish dd div.msg p {
	font-weight:bold;
	color:#900;
}

/*********【警告画面】完了メッセージ ********************************************/
dl.warning {
	font-size:12px;
	margin:30px 10px;
	background:none;
}
dl.warning dt {
	font-size:14px;
	font-weight:bold;
	margin:20px 0px;
	color:#F60;
	background:none;
}
dl.warning dd  {
	line-height:20px;
	background:none;
}
dl.warning dd div.msg {
	margin:20px 8px;
}
dl.warning dd div.msg p {
	font-weight:bold;
	color:#900;
}