<#include "header.htm"/>
<#import "../macros/pagination.ftl" as pagination/>
<script type="text/javascript">
<!--
function confirmDelete(id)
{
	if (confirm("${I18n.getMessage("Bookmarks.reallyDelete")}")) {
		document.location = "${contextPath}/bookmarks/delete/" + id + "${extension}";
	}
}
<#include "js/utils.js"/>

-->
</script>
<#assign breadCrumb>
<table cellspacing="0" cellpadding="0" width="100%" align="center" style="margin:15px 0px;">
	<tr>
		<td valign="bottom" align="left">
			<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a> &raquo;
			<a href="${JForumContext.encodeURL("/bookmarks/list/${user.id}")}">${I18n.getMessage("Bookmarks.for")} ${user.username}</a>
		</td>
		<td>&nbsp;
		</td>
	</tr>
</table>
</#assign>			
${breadCrumb}
<table class="forumline" cellspacing="1" cellpadding="4" width="100%" border="0">
	<#assign owner = loggedUserId == user.id/>
	<tr height="30">
	  <th nowrap="nowrap">${I18n.getMessage("Bookmarks.title")}</th>
	  <th nowrap="nowrap">${I18n.getMessage("Bookmarks.description")}</th>
	  <#if owner><th nowrap="nowrap" colspan="2">${I18n.getMessage("Action")}</th></#if>
	</tr>
	<#if bookmarks.size() == 0>
		<tr>
			<td align="center" colspan="3">
				<span class="gen">${I18n.getMessage("Bookmarks.empty")}</span>
			</td>
		</tr>
	</#if>
	<#assign color = "row1"/>
	<#list bookmarks as b> 
		<#if b.relationType == topicType>
			<#if b.isPublicVisible() || owner>
				<tr align="center" style="height:30px;">	
					<td class="${color}" align="left">
						<img src="${contextPath}/templates/${templateName}/images/icon_minipost.gif" align="middle" alt="[Post]" /> <a href="${JForumContext.encodeURL("/posts/list/${b.relationId}")}" class="gen">${b.title}</a>
					</td>
					<td class="${color}"><#if (b.description?default("")?length > 0)>${b.description}</#if></td>
					<#if owner><td class="${color}"><a href="javascript:addBookmark(2, ${b.relationId});">${I18n.getMessage("Edit")}</a></td></#if>
					<#if owner><td class="${color}"><a href="javascript:confirmDelete(${b.id})">${I18n.getMessage("Delete")}</a></td></#if>
				</tr>
				<#if color == "row1">
					<#assign color = "row2"/>
				<#else>
					<#assign color = "row1"/>
				</#if>
			</#if>
		</#if>
	</#list>
</table>

<table width="100%">
	<tr>
		<td align="right"><#if thisPage?exists><@pagination.doPagination "list", -1/></#if></td>
	</tr>
</table>
<#include "bottom.htm"/>