<#include "header.htm"/>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
	<tr>
		<td class="bodyline">
			<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" style="margin-top:15px;">
			   <tr>
			     <td valign="top" align="center" width="100%">
			       <table cellspacing="2" cellpadding="2" border="0">
			           <tr valign="middle">
			             <td> <a href="${JForumContext.encodeURL("/pm/inbox")}"> <img src="${contextPath}/templates/${templateName}/images/msg_inbox.gif" alt="[Inbox]" /> </a></td>
			             <td> <a href="${JForumContext.encodeURL("/pm/inbox")}"> <span class="cattitle">${I18n.getMessage("PrivateMessage.inbox")} &nbsp;</span> </a> </td>
			             <td> <a href="${JForumContext.encodeURL("/pm/sentbox")}"> <img src="${contextPath}/templates/${templateName}/images/msg_sentbox.gif" alt="[Sentbox]" />  </a></td>
			             <td> <a href="${JForumContext.encodeURL("/pm/sentbox")}"> <span class="cattitle">${I18n.getMessage("PrivateMessage.sentbox")}</span></a><span class="cattitle"> &nbsp;</span></td>
			           </tr>
			       </table>
			     </td>
			   </tr>
			</table>
			<form@style="margin:0px;" action="${JForumContext.encodeURL("/jforum")}" method="post">
			<input type="hidden" name="module" value="${moduleName}" />
			<input type="hidden" name="action" value="delete" />
			<table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin-bottom:10px;">
				<tr>
					<td valign="middle">
						<input type="button" style="width:100px;" value="•ÔM" onclick="location='${JForumContext.encodeURL("/pm/reply/${pm.id}")}';" />
					</td>
				</tr>
			</table>
			<table class="forumline" cellspacing="1" cellpadding="4" width="100%" border="0">
				<tr height="30">
					<th nowrap="nowrap" colspan="3">${I18n.getMessage("PrivateMessage.inboxMessage")}</th>
				</tr>
				<tr>
					<td class="row2" width="15%" align="right">${I18n.getMessage("PrivateMessage.from")}:</td>
					<td class="row2" colspan="2"><a class="nav" href="${JForumContext.encodeURL("/user/profile/${pm.fromUser.id}")}">${pm.fromUser.username}</a></td>
				</tr>
				<tr>
					<td class="row2" width="15%" align="right">${I18n.getMessage("PrivateMessage.to")}:</td>
					<td class="row2" colspan="2"><a class="nav" href="${JForumContext.encodeURL("/user/profile/${pm.toUser.id}")}">${pm.toUser.username}</a></td>
				</tr>
				<tr>
					<td class="row2" width="15%" align="right">${I18n.getMessage("PrivateMessage.date")}:</td>
					<td class="row2" colspan="2">${pm.formatedDate}</td>
				</tr>
				<tr>
					<td class="row2" width="15%" align="right">${I18n.getMessage("PrivateMessage.subject")}:</td>
					<td class="row2">${pm.post.subject?html}</td>
					<td class="row2" nowrap="nowrap" align="right">
						<a href="${JForumContext.encodeURL("/pm/quote/${pm.id}")}" class="icon_quote"><img src="${contextPath}/images/transp.gif" alt="" /></a>
					</td>
				</tr>
				<tr>
					<td class="row1" valign="top" colspan="3">
						<span class="postbody">${pm.post.text}
						<#if (pm.fromUser.attachSignatureEnabled && pm.fromUser.signature?exists && pm.post.isSignatureEnabled())>
						<hr/>
						${pm.fromUser.signature}
						</#if>
						</span>
					</td>
				</tr>
			</table>
			<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" style="margin-top:10px;">
				<tr>
					<td>
						<input type="button" style="width:100px;" value="•ÔM" onclick="location='${JForumContext.encodeURL("/pm/reply/${pm.id}")}';" />
					</td>
				</tr>
			</table>
			</form>
			<div align="center"></div>
	  </td>
	</tr>
</table>
<#include "bottom.htm"/>