<#include "header.htm"/>
<#import "../macros/pagination.ftl" as pagination/>

<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/pagination.js?${startupTime}"></script>
<script type="text/javascript">
<!--
<#include "js/utils.js"/>

-->
</script>
<#assign breadCrumb>
<table cellspacing="0" cellpadding="0" width="100%" align="center" style="margin:15px 0px;">
	<tr>
		<td valign="bottom" align="left">
			<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>
		</td>
		<td>&nbsp;
		</td>
	</tr>
</table>
</#assign>			
${breadCrumb}
<table class="forumline" cellspacing="1" cellpadding="4" width="100%" border="0">
	<tr height="30">
		<th width="10%" nowrap="nowrap">#</th>
		<th width="55%" nowrap="nowrap">${I18n.getMessage("User.username")}</th>
		<th width="15%" nowrap="nowrap">${I18n.getMessage("UserProfile.registrationDate")}</th>
		<th width="10%" nowrap="nowrap">${I18n.getMessage("User.numMessages")}</th>
		<th width="10%" nowrap="nowrap">${I18n.getMessage("UserProfile.privateMessage")}</th>
	</tr>
	<#list users as user>
		<#if (user.id > 1)>
			<tr align="center" height="30">		  
				<td class="row2">${user.id}</td>			
				<td align="left" class="row2"><a href="${JForumContext.encodeURL("/user/profile/${user.id}")}">${user.username}</a></td>
				<td class="row2">${user.registrationDate}</td>
				<td class="row2">${user.totalPosts}</td>
				<td class="row2"><#if user.id != 1><a href="${JForumContext.encodeURL("/pm/sendTo/${user.id}")}" class="icon_pm"><img src="${contextPath}/images/transp.gif" alt="" /></a><#else>&nbsp;</#if></td>
			</tr>
		</#if>
	</#list>
	<tr align="center">
		<td class="catbottom" colspan="5" height="28">&nbsp;
		</td>
	</tr>
</table>
<table width="100%">
	<tr>
		<td align="right"><#if thisPage?exists><@pagination.doPagination "${action}", -1/></#if></td>
	</tr>
</table>
<#include "bottom.htm"/>