<#include "header.htm"/>

<script type="text/javascript">
<!--
<#include "js/utils.js"/>

-->
</script>
<table cellspacing="0" cellpadding="0" width="100%" align="center" style="margin:15px 0px;">
	<tr>
		<td valign="bottom" align="left">
			<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>
		</td>
	</tr>
</table>
<table class="forumline" cellspacing="1" cellpadding="4" width="100%" align="center" border="0">
	<tr height="30">
		<th nowrap="nowrap" colspan="2">${u.username} ${I18n.getMessage("UserProfile.allAbout")}</th>
	</tr>
	<tr height="30">
		<td width="20%" nowrap="nowrap" align="right">${I18n.getMessage("UserProfile.registrationDate")}:&nbsp;</td>
		<td class="row1">${u.registrationDate}</td>
	</tr>	
	<tr height="30">
		<td nowrap="nowrap" align="right">${I18n.getMessage("UserProfile.totalMessages")}:&nbsp;</td>
		<td class="row1">
			<#if (nposts > 0)>
				<a class="gen" href="${JForumContext.encodeURL("/posts/listByUser/${u.id}")}">${nposts}</a> 
			<#else>
				${I18n.getMessage("PostShow.noUserCreatedPosts")}
			</#if>
		</td>
	</tr>
	<tr height="30">
		<td nowrap="nowrap" align="right">${I18n.getMessage("ForumListing.userCreatedTopics")}:</td>
		<td class="row1">
			<#if (ntopics > 0)>
				<a class="gen" href="${JForumContext.encodeURL("/recentTopics/showTopicsByUser/${u.id}")}">${ntopics}</a>
			<#else>
				${I18n.getMessage("ForumListing.noUserCreatedTopics")}
			</#if>
		</td>
	</tr>
	<#if (u.from?exists && u.from?length > 0)>
	<tr height="30">
		<td nowrap="nowrap" align="right">${I18n.getMessage("UserProfile.from")}:&nbsp;</td>
		<td class="row1">${u.from}</td>
	</tr>
	</#if>
         
	<#if (u.webSite?exists && u.webSite?length > 0)>
	<tr height="30">
		<td nowrap="nowrap" align="right">${I18n.getMessage("UserProfile.webSite")}:&nbsp;</td>
		<td class="row1"><a href="${u.webSite}" target="_new">${u.webSite}</a></td>
	</tr>
	</#if>
         
	<#if (u.occupation?exists && u.occupation?length > 0)>
	<tr height="30">
		<td nowrap="nowrap" align="right">${I18n.getMessage("UserProfile.occupation")}:&nbsp;</td>
		<td class="row1">${u.occupation}</td>
	</tr>
	</#if>
         
	<#if (u.interests?exists && u.interests?length > 0)>
	<tr height="30">
		<td nowrap="nowrap" align="right">${I18n.getMessage("UserProfile.interests")}:</td>
		<td class="row1">${u.interests}</td>
	</tr>
	</#if>
         
	<#if (u.biography?exists && u.biography?length > 0)>
	<tr height="30">
		<td nowrap="nowrap" align="right">${I18n.getMessage("UserProfile.biography")}:</td>
		<td class="row1">${u.biography}</td>
	</tr>
	</#if>

	<#if bookmarksEnabled>
	<tr height="30">
		<td nowrap="nowrap" align="right">${I18n.getMessage("Bookmarks.myBag")}:</td>
		<td class="row1">
			<#if (nbookmarks > 0)>
				<a class="gen" href="${JForumContext.encodeURL("/bookmarks/list/${u.id}")}">[${nbookmarks}] ${I18n.getMessage("Bookmarks.for")} ${u.username?html}</a>
			<#else>
				<span class="gensmall">${I18n.getMessage("Bookmarks.empty")}</span>
			</#if>
			</td>
	</tr>
	</#if>
	<tr height="30">
		<td align="right">${I18n.getMessage("UserProfile.avatar")}:</td>					
		<td class="row1">
			<#if (u.avatar?exists && u.avatar?length > 0)>
				<#if u.isExternalAvatar() || u.avatar.startsWith("http://")>
					<#if avatarAllowExternalUrl>
						<img src="${u.avatar}" border="0">
					</#if>
				<#else>
					<img src="${contextPath}/images/avatar/${u.avatar}" border="0" /><br />
				</#if>
			</#if>
		</td>
	</tr>
	<tr height="30">
		<td align="right">${I18n.getMessage("PostShow.ranking")}:</td>
		<td class="row1">
			<span class="postdetails">
				 ${rank.getRankTitle(u.rankId, u.totalPosts)}
			</span>					
		</td>
	</tr>
	<#if karmaEnabled>
	<tr height="30">
		<td align="right">${I18n.getMessage("Karma.karma")}:</td>
		<td class="row1">
			<span class="postdetails">
				<script type="text/javascript">writeStars(${u.karma.karmaPoints}, ${u.id});</script>
			</span>					
		</td>
	</tr>
	</#if>
	<tr height="30">
		<td align="right">${I18n.getMessage("UserProfile.privateMessage")}:</td>
		<td class="row1">
			<a href="${JForumContext.encodeURL("/pm/sendTo/${u.id}")}" class="icon_pm"><img src="${contextPath}/images/transp.gif"  alt="" /></a>
		</td>
	</tr>
</table>
<#include "bottom.htm"/>
