<#include "header.htm"/>
<#import "../macros/pagination.ftl" as pagination>
<#import "../macros/presentation.ftl" as presentation/>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/pagination.js?${startupTime}"></script>
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
	<tr>
		<td class="bodyline" valign="top">
			<table cellspacing="0" cellpadding="0" width="100%" border="0" style="margin:15px 0px;">
				<tr>
					<td valign="bottom" align="left">
						<#assign breadCrumb>
							<a href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a> &raquo;
							<a href="${JForumContext.encodeURL("/user/profile/${u.id}")}">${I18n.getMessage("UserProfile.profileFor")} ${u.username}</a> 
							&raquo;
							<a href="${JForumContext.encodeURL("/recentTopics/showTopicsByUser/${u.id}")}">${I18n.getMessage("ForumListing.userTopics")} ${u.username?html}</a>
						</#assign>
						${breadCrumb}
					</td>
					<td align="right">
						<#assign paginationData>
							<@pagination.doPagination action, u.id/>
						</#assign>
						${paginationData}
					</td>
				</tr>
			</table>
			
			<table class="forumline" cellspacing="1" cellpadding="4" width="100%" border="0">
				<tr>
					<th nowrap="nowrap" align="center" colspan="2" width="50%">${I18n.getMessage("ForumIndex.topics")}</th>
					<th nowrap="nowrap" align="center" width="8%">${I18n.getMessage("ForumIndex.answers")}</th>
					<th nowrap="nowrap" align="center" width="12%">${I18n.getMessage("ForumIndex.author")}</th>
					<th nowrap="nowrap" align="center" width="8%">${I18n.getMessage("ForumIndex.views")}</th>
					<th nowrap="nowrap" align="center" width="14%">${I18n.getMessage("ForumIndex.lastMessage")}</th>
					<th nowrap="nowrap" align="center" width="8%">${I18n.getMessage("Forums.Form.ForumName")}</th>
				</tr>

				<!-- TOPICS LISTING -->
				<#list topics as topic>
				<tr>
					<td class="row1" valign="middle" align="center" width="5%"><@presentation.folderImage topic/></td>
					<td class="row1">
						<a href="${JForumContext.encodeURL("/posts/list/${topic.id}")}"><#if (topic.title?length == 0)>No Subject<#else>${topic.title?html}</#if></a>
						<#if topic.paginate>
							<@pagination.littlePostPagination topic.id, postsPerPage, topic.totalReplies/>
						</#if>		
					</td>
					<td class="row2" valign="middle" align="center">${topic.totalReplies}</td>
					<td class="row3" valign="middle" align="center">
						<a href="${JForumContext.encodeURL("/user/profile/${topic.postedBy.id}")}">${topic.postedBy.username?html}</a>
					</td>
					<td class="row2" valign="middle" align="center">${topic.totalViews}</td>
					<td class="row3" valign="middle" nowrap="nowrap" align="center">
						<#if (topic.lastPostTime?length > 0)>
							${topic.lastPostTime}<br />
							<a href="${JForumContext.encodeURL("/user/profile/${topic.lastPostBy.id}")}">${topic.lastPostBy.username?html}</a>
							<#assign startPage = ""/>
							<#if (topic.totalReplies + 1 > postsPerPage?number)>
								<#assign startPage = ((topic.totalReplies / postsPerPage?number)?int * postsPerPage?number) +"/"/>
							</#if>
							<a href="${JForumContext.encodeURL("/posts/list/${startPage}${topic.id}")}#${topic.lastPostId}"><img src="${contextPath}/templates/${templateName}/images/icon_latest_reply.gif" border="0" alt="[Latest Reply]" /></a>
						</#if>		 
					</td>
					<#assign forum = forums.get(topic.forumId)/>
					<td class="row2" valign="middle" align="center">
						<a href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name?html}</a>
					</td>
				</tr>
				</#list>		
				<!-- END OF TOPICS LISTING -->
			</table>
			<table cellspacing="0" cellpadding="2" width="100%" align="center" border="0">
				<tr>
					<td valign="bottom" align="left">
						${breadCrumb}
					</td>
					<td align="right">${paginationData}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<#include "bottom.htm"/>