<#include "header.htm"/>
<#assign admin = admin?default(false)/>

<script type="text/javascript">
<!--
function validateForm()
{
	var f = document.post;

	if (f.new_password.value != f.password_confirm.value) {
		alert("${I18n.getMessage("User.passwordNotMatch")}");
		return false;
	}

	return true;
}

<#include "js/utils.js"/>

-->
</script>
<form style="margin:0px;" action="${JForumContext.encodeURL("/jforum")}" method="post" enctype="multipart/form-data" name="post" id="post" accept-charset="${encoding}" onsubmit="return validateForm();">
<input type="hidden" name="action" value="${action}" />
<input type="hidden" name="module" value="${moduleName}" />
<input type="hidden" name="user_id" value="${u.id}" />
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
	<tr>
		<td class="bodyline">
			<#assign breadCrumb>
			<table cellspacing="0" cellpadding="0" width="100%" align="center" style="margin:15px 0px;">
				<tr>
					<td valign="bottom" align="left">
						<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a> &raquo;
						${I18n.getMessage("User.registerInformation")}
					</td>
					<td>&nbsp;</td>
				</tr>
			</table>
			</#assign>
			${breadCrumb}
			<table class="forumline" cellspacing="1" cellpadding="4" width="100%" border="0">
				<#assign message = ""/>
				<#if editDone?default(false)>
					<#assign message = I18n.getMessage("User.editDone")/>
				<#elseif warns?exists>
					<#list warns as w>
						<#assign message = message + w + "<br />"/>
					</#list>
				</#if>
				<#if (message?length > 0)>
				<tr height="30">
					<td class="row2" align="center" colspan="2">
						<b><font color="<#if warns?exists>red<#else>green</#if>">${message}</font></b>
					</td>
				</tr>
				</#if>
				<tr height="30">
					<th valign="middle" align="center" colspan="2">${I18n.getMessage("User.registerInformation")}</th>
				</tr>
				<tr>
					<td class="row1" width="30%" align="right">${I18n.getMessage("User.user")}: </td>
					<td class="row2">
						<#if admin?default(false)>
							<input class="post" type="text" name="username" value="${u.username?html}" />
						<#else>
							${u.username?html}
						</#if>
					</td>
				</tr>
				<tr>
					<td class="row1" align="right">
						${I18n.getMessage("User.signature")}:<br />
						${I18n.getMessage("User.signatureDef")}<br />
					</td>
					<td class="row2"><textarea class="post" style="WIDTH: 300px" name="signature" rows="6" cols="30">${u.signature?default("")}</textarea></td>
				</tr>
				<tr>
					<td class="row1" align="right">${I18n.getMessage("User.alwaysAttachSignature")}:</td>
					<td class="row2">
						<input type="radio" <#if u.attachSignatureEnabled>checked="checked"</#if> value="1" name="attachsig" /> 
						<span class="gen">${I18n.getMessage("User.yes")}</span>&nbsp;&nbsp; 
						<input type="radio" value="0" <#if u.attachSignatureEnabled == false>checked="checked"</#if> name="attachsig" /> 
						<span class="gen">${I18n.getMessage("User.no")}</span>
					</td>
				</tr>

				<#if admin>
					<tr>
						<td class="row1" align="right">${I18n.getMessage("User.specialRanking")}:</td>
						<td class="row2">
							<select name="rank_special">
								<option value="-1">${I18n.getMessage("User.noSpecialRanking")}</option>

								<#list specialRanks as rank>
									<option value="${rank.id}" <#if rank.id == u.rankId>selected</#if>>${rank.title}</option>
								</#list>
							</select>
						</td>
					</tr>
				</#if>
				<tr height="30">
					<th valign="middle" colspan="2" >${I18n.getMessage("User.avatarControlPanel")}</th>
				</tr>
				<tr height="30">
					<td></td>
					<td class="row1" colspan="2">
						<table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td width="65%">${I18n.getMessage("User.avatarDesc")}</td>
								<td style="padding:5px;">
									<#if (u.avatar?exists && u.avatar?length > 0)>
										<#if u.isExternalAvatar()>
											<img src="${u.avatar?html}" alt="[Avatar]" />
										<#else>
											<img src="${contextPath}/images/avatar/${u.avatar}" alt="[Avatar]" /><br />
										</#if>
										<script type="text/javascript">
										<!--
										var avatarBkp = "";
										function clearAvatar(f)
										{
											if (f.avatardel.checked) {
												avatarBkp = f.avatarUrl.value;
												f.avatarUrl.value = '';
											}
											else {
												f.avatarUrl.value = avatarBkp;
											}
										}
										-->
										</script>
										<input type="checkbox" name="avatardel" onclick="clearAvatar(this.form)"/>&nbsp;
										${I18n.getMessage("User.removeAvatar")}
									</#if>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td class="row1" align="right">${I18n.getMessage("User.avatarFromPc")}:</td>
					<td class="row2"><input style="WIDTH: 300px;" type="file" name="avatar" /></td>
				</tr>

				<#if admin || avatarAllowExternalUrl>
					<tr>
						<td class="row1" align="right">${I18n.getMessage("User.avatarExternal")}:</td>
						<td class="row2"><input class="post" style="WIDTH: 300px" type="text" name="avatarUrl" value="<#if u.isExternalAvatar()>${u.avatar?default("")?html}</#if>"/></td>
					</tr>
				</#if>

				<tr>
					<td class="catbottom" align="center" colspan="2" height="28">
						<input type="hidden" name="viewemail" value="0" />
						<input type="hidden" name="notifyreply" value="0" />
						<input type="hidden" name="notify_always" value="0" />
						<input type="hidden" name="notify_text" value="0" />
						<input type="hidden" name="notifypm" value="0" />
						<input type="hidden" name="allowhtml" value="0" />
						
						<input type="hidden" name="hideonline" value="0" />
						<input type="hidden" name="allowbbcode" value="1" />
						<input type="hidden" name="allowsmilies" value="1" />
						<input class="mainoption" type="submit" value="${I18n.getMessage("User.submit")}" name="submit" />&nbsp;&nbsp;
						<input class="liteoption" type="reset" value="${I18n.getMessage("User.reset")}" name="reset" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>
<#include "bottom.htm"/>
