<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<!-- userLoginBusinessLogic -->
	<bean id="userLoginBusinessLogic"
		class="com.gameif.backoffice.businesslogic.impl.UserLoginBusinessLogicImpl">
		<property name="loginUserDao">
			<ref bean="loginUserDao" />
		</property>
	</bean>
	
	<!-- masterInfoBusinessLogic -->
	<bean id="masterInfoBusinessLogic"
		class="com.gameif.backoffice.businesslogic.impl.MasterInfoBusinessLogicImpl">
		<property name="functionMstDao">
			<ref bean="functionMstDao" />
		</property>
		<property name="inquiryKindMstDao">
			<ref bean="inquiryKindMstDao" />
		</property>
		<property name="inquirySendmailTemplateDao">
			<ref bean="inquirySendmailTemplateDao" />
		</property>
		<property name="titleMstDao">
			<ref bean="titleMstDao" />
		</property>
	</bean>
	
	<!-- authorityBusinessLogic -->
	<bean id="authorityBusinessLogic"
		class="com.gameif.backoffice.businesslogic.impl.AuthorityBusinessLogicImpl">
		<property name="authorityMstDao">
			<ref bean="authorityMstDao" />
		</property>
		<property name="authorityDetailMstDao">
			<ref bean="authorityDetailMstDao" />
		</property>
	</bean>
	
	<!-- inquiryInfoBusinessLogic -->
	<bean id="inquiryInfoBusinessLogic"
		class="com.gameif.backoffice.businesslogic.impl.InquiryInfoBusinessLogicImpl">
		<property name="inquiryInfoDao">
			<ref bean="inquiryInfoDao" />
		</property>
		<property name="simpleMailer">
			<ref bean="simpleMailer" />
		</property>
		<property name="memberInfoDao">
			<ref bean="memberInfoDao" />
		</property>
		<property name="titleMstDao">
			<ref bean="titleMstDao" />
		</property>
		<property name="inquiryKindMstDao">
			<ref bean="inquiryKindMstDao" />
		</property>
	</bean>
	
	<!-- inquiryMailTemplateBusinessLogic -->
	<bean id="inquiryMailTemplateBusinessLogic"
		class="com.gameif.backoffice.businesslogic.impl.InquiryMailTemplateBusinessLogicImpl">
		<property name="inquirySendmailTemplateDao">
			<ref bean="inquirySendmailTemplateDao" />
		</property>
	</bean>
	
	<!-- ticketBusinessLogic -->
	<bean id="ticketBusinessLogic"
		class="com.gameif.backoffice.businesslogic.impl.TicketBusinessLogicImpl">
		<property name="ticketMstDao">
			<ref bean="ticketMstDao" />
		</property>
		<property name="memberInfoDao">
			<ref bean="memberInfoDao" />
		</property>
		<property name="ticketGiveHistDao">
			<ref bean="ticketGiveHistDao" />
		</property>
		<property name="ticketInfoDao">
			<ref bean="ticketInfoDao" />
		</property>
	</bean>
</beans>