<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="actionLoggerInterceptor" class="com.gameif.backoffice.interceptor.ActionLogInterceptor" />
	
	<!-- 
	<bean id="indexAction" class="com.gameif.portal.action.menu.IndexAction" scope="prototype" />
	-->
	
	<bean id="displayAction" class="com.gameif.backoffice.action.menu.DisplayAction" scope="prototype">
		<property name="backOfficeProperties">
			<ref bean="backOfficeProperties" />
		</property>
	</bean>
			
	<!-- userLoginAction -->
	<bean id="userLoginAction" class="com.gameif.backoffice.action.userLogin.UserLoginAction" scope="prototype">
		<property name="userLoginBusinessLogic">
			<ref bean="userLoginBusinessLogic" />
		</property>
		<!-- 
		<property name="portalProperties">
			<ref bean="portalProperties" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		 -->
	</bean>
			
	<!-- authorityAction -->
	<bean id="authorityAction" class="com.gameif.backoffice.action.authority.AuthorityControlAction" scope="prototype">
		<property name="backOfficeProperties">
			<ref bean="backOfficeProperties" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		<property name="authorityBusinessLogic">
			<ref bean="authorityBusinessLogic" />
		</property>
	</bean>
			
	<!-- inquiryListAction -->
	<bean id="inquiryListAction" class="com.gameif.backoffice.action.inquiry.InquiryListAction" scope="prototype">
		<property name="backOfficeProperties">
			<ref bean="backOfficeProperties" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		<property name="inquiryInfoBusinessLogic">
			<ref bean="inquiryInfoBusinessLogic" />
		</property>
	</bean>
			
	<!-- inquiryDetailAction -->
	<bean id="inquiryDetailAction" class="com.gameif.backoffice.action.inquiry.InquiryDetailAction" scope="prototype">
		<property name="backOfficeProperties">
			<ref bean="backOfficeProperties" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		<property name="inquiryInfoBusinessLogic">
			<ref bean="inquiryInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- inquiryListAction -->
	<bean id="loginUserListAction" class="com.gameif.backoffice.action.user.UserInfoListAction" scope="prototype">
		<property name="userLoginBusinessLogic">
			<ref bean="userLoginBusinessLogic" />
		</property>
		<property name="authorityBusinessLogic">
			<ref bean="authorityBusinessLogic" />
		</property>
	</bean>
	
	<!-- loginUserDetailAction -->
	<bean id="loginUserDetailAction" class="com.gameif.backoffice.action.user.UserInfoDetailAction" scope="prototype">
		<property name="userLoginBusinessLogic">
			<ref bean="userLoginBusinessLogic" />
		</property>
		<property name="authorityBusinessLogic">
			<ref bean="authorityBusinessLogic" />
		</property>
	</bean>
	
	
	<!-- logoutProxyAction -->
	<bean id="logoutProxyAction" class="com.gameif.backoffice.action.menu.LogoutProxyAction" scope="prototype" />
	
	<!-- inquiryDetailAction -->
	<bean id="inquiryMailTemplateAction" class="com.gameif.backoffice.action.inquiryMailTemplate.InquiryMailTemplateAction" scope="prototype">
		<property name="inquiryMailTemplateBusinessLogic">
			<ref bean="inquiryMailTemplateBusinessLogic" />
		</property>
	</bean>
	
	<!-- inquiryBindMailTemplateAction -->
	<bean id="inquiryBindMailTemplateAction" class="com.gameif.backoffice.action.inquiryMailTemplate.InquiryBindMailTemplateAction" scope="prototype">
		<property name="inquiryMailTemplateBusinessLogic">
			<ref bean="inquiryMailTemplateBusinessLogic" />
		</property>
	</bean>
	
	<!-- ticketControlAction -->
	<bean id="ticketControlAction" class="com.gameif.backoffice.action.ticket.TicketControlAction" scope="prototype">
		<property name="ticketBusinessLogic">
			<ref bean="ticketBusinessLogic" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		<property name="backOfficeProperties">
			<ref bean="backOfficeProperties" />
		</property>
	</bean>
	
	<!-- ticketBindMasterAction -->
	<bean id="ticketBindMasterAction" class="com.gameif.backoffice.action.ticket.TicketBindMasterAction" scope="prototype">
		<property name="ticketBusinessLogic">
			<ref bean="ticketBusinessLogic" />
		</property>
	</bean>
	
	<!-- inviteApproveAction -->
	<bean id="inviteApproveAction" class="com.gameif.backoffice.action.invite.InviteApproveAction" scope="prototype">
		<property name="inviteInfoBusinessLogic">
			<ref bean="inviteInfoBusinessLogic" />
		</property>
		<property name="backOfficeProperties">
			<ref bean="backOfficeProperties" />
		</property>
	</bean>
	
	<!-- inviteApproveDetailAction -->
	<bean id="inviteApproveDetailAction" class="com.gameif.backoffice.action.invite.InviteApproveDetailAction" scope="prototype">
		<property name="inviteInfoBusinessLogic">
			<ref bean="inviteInfoBusinessLogic" />
		</property>
		<property name="backOfficeProperties">
			<ref bean="backOfficeProperties" />
		</property>
		<property name="memberInfoBusinessLogic">
			<ref bean="memberInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- salesBindMasterAction -->
	<bean id="salesBindMasterAction" class="com.gameif.backoffice.action.sales.SalesBindMasterAction" scope="prototype">
		<property name="salesBusinessLogic">
			<ref bean="salesBusinessLogic" />
		</property>
	</bean>
	
	<!-- salesListControlAction -->
	<bean id="salesListControlAction" class="com.gameif.backoffice.action.sales.SalesListControlAction" scope="prototype">
		<property name="salesBusinessLogic">
			<ref bean="salesBusinessLogic" />
		</property>
		<property name="backOfficeProperties">
			<ref bean="backOfficeProperties" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- memberInfoControlAction -->
	<bean id="memberInfoControlAction" class="com.gameif.backoffice.action.member.MemberInfoControlAction" scope="prototype">
		<property name="memberInfoBusinessLogic">
			<ref bean="memberInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- campaignControlAction -->
	<bean id="campaignControlAction" class="com.gameif.backoffice.action.campaign.CampaignControlAction" scope="prototype">
		<property name="campaignBusinessLogic">
			<ref bean="campaignBusinessLogic" />
		</property>
	</bean>
</beans>