<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="gameifSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:/resources/sqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="baseDao" abstract="true">
		<property name="sqlMapClient">
			<ref local="gameifSqlMapClient" />
		</property>
	</bean>
	
	<!-- loginUserDao -->
	<bean id="loginUserDao" class="com.gameif.backoffice.dao.impl.LoginUserDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>loginUser</value>
		</property>
	</bean>
	
	<!-- functionMstDao -->
	<bean id="functionMstDao" class="com.gameif.backoffice.dao.impl.FunctionMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>functionMst</value>
		</property>
	</bean>
	
	<!-- authorityMstDao -->
	<bean id="authorityMstDao" class="com.gameif.backoffice.dao.impl.AuthorityMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>authorityMst</value>
		</property>
	</bean>
	
	<!-- authorityDetailMstDao -->
	<bean id="authorityDetailMstDao" class="com.gameif.backoffice.dao.impl.AuthorityDetailMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>authorityDetailMst</value>
		</property>
	</bean>
	
	<!-- inquiryInfoDao -->
	<bean id="inquiryInfoDao" class="com.gameif.backoffice.dao.impl.InquiryInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>inquiryInfo</value>
		</property>
	</bean>
	
	<!-- inquiryKindMstDao -->
	<bean id="inquiryKindMstDao" class="com.gameif.backoffice.dao.impl.InquiryKindMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>inquiryKindMst</value>
		</property>
	</bean>
	
	<!-- memberInfoDao -->
	<bean id="memberInfoDao" class="com.gameif.backoffice.dao.impl.MemberInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>memberInfo</value>
		</property>
	</bean>
	
	<!-- titleMstDao -->
	<bean id="titleMstDao" class="com.gameif.backoffice.dao.impl.TitleMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>titleMst</value>
		</property>
	</bean>
	
	<!-- inquirySendmailTemplateDao -->
	<bean id="inquirySendmailTemplateDao" class="com.gameif.backoffice.dao.impl.InquirySendmailTemplateDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>inquirySendmailTemplate</value>
		</property>
	</bean>
	
	<!-- ticketMstDao -->
	<bean id="ticketMstDao" class="com.gameif.backoffice.dao.impl.TicketMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>ticketMst</value>
		</property>
	</bean>
	
	<!-- ticketInfoDao -->
	<bean id="ticketInfoDao" class="com.gameif.backoffice.dao.impl.TicketInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>ticketInfo</value>
		</property>
	</bean>
	
	<!-- ticketGiveHistDao -->
	<bean id="ticketGiveHistDao" class="com.gameif.backoffice.dao.impl.TicketGiveHistDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>ticketGiveHist</value>
		</property>
	</bean>
	
	<!-- inviteInfoDao -->
	<bean id="inviteInfoDao" class="com.gameif.backoffice.dao.impl.InviteInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>inviteInfo</value>
		</property>
	</bean>
	
	<!-- inviteLinkHistDao -->
	<bean id="inviteLinkHistDao" class="com.gameif.backoffice.dao.impl.InviteLinkHistDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>inviteLinkHist</value>
		</property>
	</bean>
</beans>