<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="opensocialPageTemplater" class="com.gameif.portal.helper.OpensocialPageTemplater">
		<property name="templates">
			<map>
				<entry key="1">
					<map>
						<entry key="playGame" value="mixiPlay.htm"/>
						<entry key="selectServer" value="mixiSelectServer.htm"/>
						<entry key="maintenance" value="mixiMaintenance.htm"/>
						<entry key="error" value="mixiError.htm"/>
					</map>
				</entry>
			</map>
		</property>
		<property name="opensocialFreeMarkerConfigurer">
			<ref bean="opensocialFreeMarkerConfigurer" />
		</property>
	</bean>
	
	<bean id="opensocialFreeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath">
			<value>WEB-INF/template/opensocial/</value>
		</property>
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">1800</prop>
				<prop key="default_encoding">UTF-8</prop>
				<prop key="locale">ja_JP</prop>
			</props>
		</property>
	</bean>
</beans>