<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- MemberInfoAction -->
	<bean id="loginInfoAction" class="com.gameif.portal.action.login.LoginInfoAction">
		<property name="loginInfoBusinessLogic">
			<ref bean="loginInfoBusinessLogic" />
		</property>
	</bean>
	<!-- MemberInfoAction -->
	<bean id="memberInfoAction" class="com.gameif.portal.action.memberInfo.MemberInfoControlAction">
		<property name="memberInfoBusinessLogic">
			<ref bean="memberInfoBusinessLogic" />
		</property>
	</bean>
</beans>