<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="gameifSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:/resources/sqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="baseDao" abstract="true">
		<property name="sqlMapClient">
			<ref local="gameifSqlMapClient" />
		</property>
	</bean>

	<!-- userInfoDao -->
	<bean id="loginInfoDao" class="com.gameif.portal.dao.impl.LoginInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>loginInfo</value>
		</property>
	</bean>
	
	<!-- memberInfoDao -->
	<bean id="memberInfoDao" class="com.gameif.portal.dao.impl.MemberInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>memberInfo</value>
		</property>
	</bean>
	
	<!-- memberInfoDao -->
	<bean id="memberLoginInfoDao" class="com.gameif.portal.dao.impl.MemberLoginInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>memberLoginInfo</value>
		</property>
	</bean>
	
	<!-- inquiryInfoDao -->
	<bean id="inquiryInfoDao" class="com.gameif.portal.dao.impl.InquiryInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>inquiryInfo</value>
		</property>
	</bean>
	
	<!-- inviteInfoDao -->
	<bean id="inviteInfoDao" class="com.gameif.portal.dao.impl.InviteInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>inviteInfo</value>
		</property>
	</bean>
</beans>