<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="secureParameterInterceptor" class="com.gameif.portal.interceptor.SecureParameterInterceptor" />
	<bean id="actionLoggerInterceptor" class="com.gameif.portal.interceptor.ActionLogInterceptor" />
	<!-- actionLoggerInterceptor：同ＩＰで短時間以内に連続して会員登録を行った場合、制限をかける -->
	<bean id="repetitionRegInterceptor" class="com.gameif.portal.interceptor.RepetitionRegInterceptor">
		<!-- 連続登録する最大回数 -->
		<property name="repetitionMax">
			<value>${repetitionRegInterceptor.repetitionMax}</value>
		</property>
		<!-- チェックする時間単位（秒） -->
		<property name="checkTime">
			<value>${repetitionRegInterceptor.checkTime}</value>
		</property>
	</bean>
	
	<bean id="indexAction" class="com.gameif.portal.action.menu.IndexAction" scope="prototype" />
	
	<bean id="displayAction" class="com.gameif.portal.action.menu.DisplayAction" scope="prototype">
		<property name="portalProperties">
			<ref bean="portalProperties" />
		</property>
	</bean>
			
	<!-- memberInfoAction -->
	<bean id="memberInfoAction" class="com.gameif.portal.action.memberInfo.MemberInfoControlAction" scope="prototype">
		<property name="memberInfoBusinessLogic">
			<ref bean="memberInfoBusinessLogic" />
		</property>
		<property name="portalProperties">
			<ref bean="portalProperties" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- inquiryInfoAction -->
	<bean id="inquiryInfoAction" class="com.gameif.portal.action.inquiry.InquiryInputAction" scope="prototype">
		<property name="inquiryInfoBusinessLogic">
			<ref bean="inquiryInfoBusinessLogic" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		<property name="memberInfoBusinessLogic">
			<ref bean="memberInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- inviteInputAction -->
	<bean id="inviteInputAction" class="com.gameif.portal.action.invite.InviteInputAction" scope="prototype">
		<property name="inviteInfoBusinessLogic">
			<ref bean="inviteInfoBusinessLogic" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		<property name="memberInfoBusinessLogic">
			<ref bean="memberInfoBusinessLogic" />
		</property>
		<property name="portalProperties">
			<ref bean="portalProperties" />
		</property>
	</bean>
	
	<!-- inviteHistAction -->
	<bean id="inviteHistAction" class="com.gameif.portal.action.invite.InviteHistAction" scope="prototype">
		<property name="inviteInfoBusinessLogic">
			<ref bean="inviteInfoBusinessLogic" />
		</property>
		<property name="portalProperties">
			<ref bean="portalProperties" />
		</property>
	</bean>
	
	<!-- existCheckAction -->
	<bean id="existCheckAction" class="com.gameif.portal.action.memberInfo.MemberInfoExistCheckAction" scope="prototype">
		<property name="memberInfoBusinessLogic">
			<ref bean="memberInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- titlePlayControlAction -->
	<bean id="titlePlayControlAction" class="com.gameif.portal.action.titleif.TitlePlayControlAction" scope="prototype">
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		<property name="titlePlayBusinessLogic">
			<ref bean="titlePlayBusinessLogic" />
		</property>
		<property name="titleEntry">
			<ref bean="titleEntry" />
		</property>
	</bean>
	
	<!-- titleSelectControlAction -->
	<bean id="titleSelectControlAction" class="com.gameif.portal.action.titleif.TitleSelectControlAction" scope="prototype">
		<property name="titlePlayBusinessLogic">
			<ref bean="titlePlayBusinessLogic" />
		</property>
	</bean>
	
	<!-- memberPwdRegetAction -->
	<bean id="memberPwdRegetAction" class="com.gameif.portal.action.pwdReget.MemberPwdRegetAction" scope="prototype">
		<property name="tempPwdRegetBusinessLogic">
			<ref bean="tempPwdRegetBusinessLogic" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		<property name="portalProperties">
			<ref bean="portalProperties" />
		</property>
	</bean>
	
	<!-- 友達紹介画面にて、マスタデータバインド用アクション -->
	<!-- inviteBindMasterAction -->
	<bean id="inviteBindMasterAction" class="com.gameif.portal.action.invite.InviteBindMasterAction" scope="prototype">
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- ポイントチャージ用アクション -->
	<!-- pointChargeControlAction -->
	<bean id="pointChargeControlAction" class="com.gameif.portal.action.pointCharge.PointChargeControlAction" scope="prototype">
		<!-- 購入要求接続先URL -->
		<property name="requestUrl">
			<value>${pointChargeControlAction.requestUrl}</value>
		</property>
		<!-- 決済完了時URL -->
		<property name="success_url">
			<value>${pointChargeControlAction.success_url}</value>
		</property>
		<!-- キャンセル時URL -->
		<property name="cancel_url">
			<value>${pointChargeControlAction.cancel_url}</value>
		</property>
		<!-- エラー時URL -->
		<property name="error_url">
			<value>${pointChargeControlAction.error_url}</value>
		</property>
		<!-- 決済通知用CGI -->
		<property name="pagecon_url">
			<value>${pointChargeControlAction.pagecon_url}</value>
		</property>
		<!-- SPSより払い出されたキー -->
		<property name="spsKey">
			<value>${pointChargeControlAction.spsKey}</value>
		</property>
		<!-- リクエスト許容時間（単位:秒） -->
		<property name="limit_second">
			<value>${pointChargeControlAction.limit_second}</value>
		</property>
		
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		<property name="pointChargeBusinessLogic">
			<ref bean="pointChargeBusinessLogic" />
		</property>
		<property name="maintenanceBusinessLogic">
			<ref bean="maintenanceBusinessLogic" />
		</property>
	</bean>
	
	<!-- ポイントチャージ画面にて、マスタデータバインド用アクション -->
	<!-- pointChargeBindMasterAction -->
	<bean id="pointChargeBindMasterAction" class="com.gameif.portal.action.pointCharge.PointChargeBindMasterAction" scope="prototype">
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- servicePointControlAction -->
	<bean id="servicePointControlAction" class="com.gameif.portal.action.servicePoint.ServicePointControlAction" scope="prototype">
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
		<property name="servicePointBusinessLogic">
			<ref bean="servicePointBusinessLogic" />
		</property>
	</bean>
	
	<!-- betaTesterControlAction -->
	<bean id="betaTesterControlAction" class="com.gameif.portal.action.titleif.BetaTesterControlAction" scope="prototype">
		<property name="betaTesterBusinessLogic">
			<ref bean="betaTesterBusinessLogic" />
		</property>
	</bean>
	
	<!-- loginStatusProxyAction -->
	<bean id="loginStatusProxyAction" class="com.gameif.portal.action.menu.LoginStatusProxyAction" scope="prototype" />
	<!-- logoutProxyAction -->
	<bean id="logoutProxyAction" class="com.gameif.portal.action.menu.LogoutProxyAction" scope="prototype" />
	<bean id="entryProxyAction" class="com.gameif.portal.action.menu.EntryProxyAction" scope="prototype">
		<property name="cookieAge">
			<value>${entryProxyAction.cookieAge}</value>
		</property>		
		<property name="titleEntryUrls">
			<map>
				<entry key="0" value="${entryProxyAction.titleEntryUrl.0}"/>
				<entry key="1" value="${entryProxyAction.titleEntryUrl.1}"/>
			</map>
		</property>
	</bean>
</beans>