<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="gameifSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:/resources/sqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="baseDao" abstract="true">
		<property name="sqlMapClient">
			<ref local="gameifSqlMapClient" />
		</property>
	</bean>
	
	<!-- memberInfoDao -->
	<bean id="memberInfoDao" class="com.gameif.portal.dao.impl.MemberInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>memberInfo</value>
		</property>
	</bean>
	
	<!-- memberLoginInfoDao -->
	<bean id="memberLoginInfoDao" class="com.gameif.portal.dao.impl.MemberLoginInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>memberLoginInfo</value>
		</property>
	</bean>
	
	<!-- inquiryInfoDao -->
	<bean id="inquiryInfoDao" class="com.gameif.portal.dao.impl.InquiryInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>inquiryInfo</value>
		</property>
	</bean>
	
	<!-- inviteInfoDao -->
	<bean id="inviteInfoDao" class="com.gameif.portal.dao.impl.InviteInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>inviteInfo</value>
		</property>
	</bean>
	
	<!-- divisionMstDao -->
	<bean id="divisionMstDao" class="com.gameif.portal.dao.impl.DivisionMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>divisionMst</value>
		</property>
	</bean>
	
	<!-- occupationMstDao -->
	<bean id="occupationMstDao" class="com.gameif.portal.dao.impl.OccupationMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>occupationMst</value>
		</property>
	</bean>
	
	<!-- questionMstDao -->
	<bean id="questionMstDao" class="com.gameif.portal.dao.impl.QuestionMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>questionMst</value>
		</property>
	</bean>
	
	<!-- titleMstDao -->
	<bean id="titleMstDao" class="com.gameif.portal.dao.impl.TitleMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>titleMst</value>
		</property>
	</bean>
	
	<!-- serverMstDao -->
	<bean id="serverMstDao" class="com.gameif.portal.dao.impl.ServerMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>serverMst</value>
		</property>
	</bean>
	
	<!-- playHistDao -->
	<bean id="playHistDao" class="com.gameif.portal.dao.impl.PlayHistDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>playHist</value>
		</property>
	</bean>
	
	<!-- inquiryKindMstDao -->
	<bean id="inquiryKindMstDao" class="com.gameif.portal.dao.impl.InquiryKindMstDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>inquiryKindMst</value>
		</property>
	</bean>
	
	<!-- tempPwdInfoDao -->
	<bean id="tempPwdInfoDao" class="com.gameif.portal.dao.impl.TempPwdInfoDaoImpl" parent="baseDao">
		<property name="namespace">
			<value>tempPwdInfo</value>
		</property>
	</bean>
</beans>