<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<!-- memberInfoBusinessLogic -->
	<bean id="memberInfoBusinessLogic"
		class="com.gameif.portal.businesslogic.impl.MemberInfoBusinessLogicImpl">
		<property name="memberInfoDao">
			<ref bean="memberInfoDao" />
		</property>
		<property name="memberLoginInfoDao">
			<ref bean="memberLoginInfoDao" />
		</property>
	</bean>
	
	<!-- inquiryInfoBusinessLogic -->
	<bean id="inquiryInfoBusinessLogic"
		class="com.gameif.portal.businesslogic.impl.InquiryInfoBusinessLogicImpl">
		<property name="inquiryInfoDao">
			<ref bean="inquiryInfoDao" />
		</property>
	</bean>
	
	<!-- inviteInfoBusinessLogic -->
	<bean id="inviteInfoBusinessLogic"
		class="com.gameif.portal.businesslogic.impl.InviteInfoBusinessLogicImpl">
		<property name="inviteInfoDao">
			<ref bean="inviteInfoDao" />
		</property>
	</bean>
	
	<!-- masterInfoBusinessLogic -->
	<bean id="masterInfoBusinessLogic"
		class="com.gameif.portal.businesslogic.impl.MasterInfoBusinessLogicImpl">
		<property name="divisionMstDao">
			<ref bean="divisionMstDao" />
		</property>
		<property name="occupationMstDao">
			<ref bean="occupationMstDao" />
		</property>
		<property name="questionMstDao">
			<ref bean="questionMstDao" />
		</property>
		<property name="titleMstDao">
			<ref bean="titleMstDao" />
		</property>
		<property name="inquiryKindMstDao">
			<ref bean="inquiryKindMstDao" />
		</property>
	</bean>
</beans>