<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="actionLoggerInterceptor" class="com.gameif.portal.interceptor.ActionLogInterceptor" />
	<!-- actionLoggerInterceptor：同ＩＰで短時間以内に連続して会員登録を行った場合、制限をかける -->
	<bean id="repetitionRegInterceptor" class="com.gameif.portal.interceptor.RepetitionRegInterceptor">
		<!-- 連続登録する最大回数 -->
		<property name="repetitionMax">
			<value>5</value>
		</property>
		<!-- チェックする時間単位（秒） -->
		<property name="checkTime">
			<value>300</value>
		</property>
	</bean>
	
	<bean id="displayAction" class="com.gameif.portal.action.menu.DisplayAction" scope="prototype">
		<property name="portalProperties">
			<ref bean="portalProperties" />
		</property>
	</bean>
	
	<!-- mainMenuAction -->
	<bean id="mainMenuAction" class="com.gameif.portal.action.menu.MainMenu" scope="prototype">
	</bean>
	
	<!-- loginInfoAction -->
	<bean id="loginInfoAction" class="com.gameif.portal.action.login.LoginInfoAction" scope="prototype">
		<property name="loginInfoBusinessLogic">
			<ref bean="loginInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- memberInfoAction -->
	<bean id="memberInfoAction" class="com.gameif.portal.action.memberInfo.MemberInfoControlAction" scope="prototype">
		<property name="memberInfoBusinessLogic">
			<ref bean="memberInfoBusinessLogic" />
		</property>
		<property name="portalProperties">
			<ref bean="portalProperties" />
		</property>
	</bean>
	
	<!-- inquiryInfoAction -->
	<bean id="inquiryInfoAction" class="com.gameif.portal.action.inquiry.InquiryInputAction" scope="prototype">
		<property name="inquiryInfoBusinessLogic">
			<ref bean="inquiryInfoBusinessLogic" />
		</property>
	</bean>
	
	<!-- inviteInputAction -->
	<bean id="inviteInputAction" class="com.gameif.portal.action.invite.InviteInputAction" scope="prototype">
		<property name="inviteInfoBusinessLogic">
			<ref bean="inviteInfoBusinessLogic" />
		</property>
		<property name="masterInfoBusinessLogic">
			<ref bean="masterInfoBusinessLogic" />
		</property>
	</bean>
</beans>