<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<!-- masterInfoBusinessLogic -->
	<bean id="masterInfoBusinessLogic"
		class="com.gameif.portal.businesslogic.impl.MasterInfoBusinessLogicImpl">
		<property name="titleMstDao">
			<ref bean="titleMstDao" />
		</property>
		<property name="serverMstDao">
			<ref bean="serverMstDao" />
		</property>
		<property name="pointMstDao">
			<ref bean="pointMstDao" />
		</property>
		<property name="providerMstDao">
			<ref bean="providerMstDao" />
		</property>
		<property name="providerTitleMstDao">
			<ref bean="providerTitleMstDao" />
		</property>
	</bean>
	
	<!-- maintenanceBusinessLogic -->
	<bean id="maintenanceBusinessLogic"
		class="com.gameif.portal.businesslogic.impl.MaintenanceBusinessLogicImpl">
		<property name="titleMstDao">
			<ref bean="titleMstDao" />
		</property>
		<property name="maintenanceInfoDao">
			<ref bean="maintenanceInfoDao" />
		</property>
	</bean>
    
	<!-- jointMemberBusinessLogic -->
	<bean id="jointMemberBusinessLogic"
		class="com.gameif.portal.businesslogic.impl.JointMemberBusinessLogicImpl">
		<property name="jointMemberDao">
			<ref bean="jointMemberDao" />
		</property>
	</bean>    
	<!-- jointPointChargeBusinessLogic -->
	<bean id="jointPointChargeBusinessLogic"
		class="com.gameif.portal.businesslogic.impl.JointPointChargeBusinessLogicImpl">
        
        <!-- 購入できるポイントの限度額（100,000） -->
        <property name="limitAmountMax">
            <value>${pointCharge.limitAmountMax}</value>
        </property>
        <!-- 購入できるポイントの限度額（30,000） -->
        <property name="limitAmountMin">
            <value>${pointCharge.limitAmountMin}</value>
        </property>
        <property name="memSettlementTrnsDao">
            <ref bean="memSettlementTrnsDao" />
        </property>
        <property name="pointMstDao">
            <ref bean="pointMstDao" />
        </property>
        <property name="titleCharge">
            <ref bean="titleCharge" />
        </property>
        <property name="serverMstDao">
            <ref bean="serverMstDao" />
        </property>
		<property name="settlementMstDao">
			<ref bean="settlementMstDao" />
		</property>
		<property name="jointMemberDao">
			<ref bean="jointMemberDao" />
		</property>
		<property name="jointSettlementHistDao">
			<ref bean="jointSettlementHistDao" />
		</property>
		<property name="jointPlayHistDao">
			<ref bean="jointPlayHistDao" />
		</property>
		
	</bean>    
	<!-- jointTitlePlayBusinessLogic -->
	<bean id="jointTitlePlayBusinessLogic"
		class="com.gameif.portal.businesslogic.impl.JointTitlePlayBusinessLogicImpl">
		<property name="jointPlayHistDao">
			<ref bean="jointPlayHistDao" />
		</property>
	</bean>
</beans>