<#include "header.htm"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="${contextPath}/rss/forums${extension}" />

<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td width="100%" valign="top">
			<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" style="margin:15px 0px">
				<tr>
					<td align="left">
						<a href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>
					</td>
				</tr>
			</table>
			<table class="forumline" cellspacing="1" cellpadding="2" width="100%" border="0">
				<tr height="30">
					<th nowrap="nowrap" colspan="2" align="center" valign="middle" width="65%">${I18n.getMessage("ForumListing.forums")}</th>
					<th nowrap="nowrap" width="10%">${I18n.getMessage("ForumListing.totalTopics")}</th>
					<th nowrap="nowrap" width="10%">${I18n.getMessage("ForumListing.totalMessages")}</th>
					<th nowrap="nowrap" width="15%">${I18n.getMessage("ForumListing.lastMessage")}</th>
				</tr>
				<!-- START FORUM LISTING -->
				<#list allCategories as category>
					<tr class="forumclass">
						<td colspan="2">${category.name}</td>
						<td colspan="3">&nbsp;</td>
					</tr>
					<#list category.getForums() as forum>
					<#assign lpi = forumRepository.getLastPostInfo(forum.id)/>
					<tr>
						<td class="row1" width="8%" valign="middle" align="center" height="50">
						<#if forum.unread>
							<img src="${contextPath}/templates/${templateName}/images/folder_new_big.gif" alt="[New Folder]" />
						<#else>
							<img src="${contextPath}/templates/${templateName}/images/folder_big.gif" alt="[Folder]" />
						</#if>
						</td>
						<td class="row1" valign="middle" height="60">
							<a class="forumlink" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name?html}</a><br/>
							<div class="forum_desc">${forum.description?default("")}</div>
							<span class="genmed">
								<#if forum.isModerated()><br />
								${I18n.getMessage("ForumIndex.moderators")}
								<#assign moderators = forumRepository.getModeratorList(forum.id)/>
								<#list moderators as m>
								  <a href="${JForumContext.encodeURL("/user/listGroup/${m.id}")}">${m.name?html}</a>
								</#list>
							</span>
							</#if>
						</td>
						<td class="row2" valign="middle" align="center" height="50"><span class="gensmall">${forum.totalTopics}</span></td>
						<td class="row2" valign="middle" align="center" height="50">
							<#assign total = forum.totalPosts/>
							<#if (total == 0 && forum.totalTopics > 0)>
								<#assign total = forum.totalTopics/>
							</#if>
							<span class="gensmall"><#if (total > 0)>${total}<#else>${I18n.getMessage("ForumListing.noMessages")}</#if></span>
						</td>
						<td class="row2" valign="middle" nowrap="nowrap" align="center" height="50">
							<#if (lpi.postTimeMillis > 0)>
								${lpi.postDate}<br />
								<#if (lpi.userId > 0)><a href="${JForumContext.encodeURL("/user/profile/${lpi.userId}")}"></#if>${lpi.username}</a>
								<#assign startPage = ""/>
								<#if (lpi.topicReplies + 1 > topicsPerPage)>
									<#assign startPage = ((lpi.topicReplies / topicsPerPage)?int * topicsPerPage) +"/"/>
								</#if>
								<#assign url = JForumContext.encodeURL("/posts/list/${startPage}${lpi.topicId}") + "#" + lpi.postId/>
								<a href="${url}"><img src="${contextPath}/templates/${templateName}/images/icon_latest_reply.gif" border="0" alt="[Latest Reply]" /></a>
							<#else>
								${I18n.getMessage("ForumListing.noMessages")}
							</#if>	
						</td>
					</tr>
					</#list>
				</#list>		
				<!-- END OF FORUM LISTING -->
			</table>
			<!-- 
			<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0" style="margin: 20px 0px;">
				<tr class="forumclass">
					<td colspan="2">${I18n.getMessage("ForumListing.whoIsOnline")}</td>
				</tr>
				<tr>
					<td class="row1" valign="middle" align="center" rowspan="2"><img src="${contextPath}/templates/${templateName}/images/whosonline.gif" alt="[Who's Online]"/></td>
					<td class="row1 gensmall" align="left" width="100%" style="padding:20px 0px 0px 10px;">
						${I18n.getMessage("ForumListing.totalMessagesInfo", [ totalMessages ])}<br />
						${I18n.getMessage("ForumListing.registeredUsers", [ totalRegisteredUsers ])}<br />
						${I18n.getMessage("ForumListing.newestUser")} <a href="${JForumContext.encodeURL("/user/profile/${lastUser.id}")}">${lastUser.username}</a>
					</td>
				</tr>
				<tr>
					<td class="row1 gensmall" align="left" style="padding:10px 0px 20px 10px;">
						<#assign adminColor = "class='admin'"/>
						<#assign moderatorColor = "class='moderator'"/>
						<#assign color = ""/>

						${I18n.getMessage("ForumListing.numberOfUsersOnline", [ totalOnlineUsers, totalRegisteredOnlineUsers, totalAnonymousUsers ])}&nbsp;&nbsp;
			
						[ <span ${adminColor}>${I18n.getMessage("Administrator")}</span> ]&nbsp;[ <span ${moderatorColor}>${I18n.getMessage("Moderator")}</span> ]
						<br />
						${I18n.getMessage("ForumListing.mostUsersEverOnline", [ mostUsersEverOnline.getTotal(), mostUsersEverOnline.getDate()?string ])}									
						<br />
						${I18n.getMessage("ForumListing.connectedUsers")}: 
			
						<#list userSessions as us>
							<#if us.isAdmin()>
								<#assign color = adminColor/>
							<#elseif us.isModerator()>
								<#assign color = moderatorColor/>
							<#else>
								<#assign color = ""/>
							</#if>

								<a href="${JForumContext.encodeURL("/user/profile/${us.userId}")}"><span ${color}>${us.username}</span></a>&nbsp;
						</#list>			
					</td>
				</tr>
			</table>
			 --><br/>
			<table cellspacing="3" cellpadding="0" align="center" border="0">
				<tr>
					<td align="center" width="20"><img src="${contextPath}/templates/${templateName}/images/folder_new.gif" alt="[New Folder]" /></td>
					<td><span class="gensmall">${I18n.getMessage("ForumListing.newMessages")}</span></td>
					<td>&nbsp;&nbsp;</td>
					<td align="center" width="20"><img src="${contextPath}/templates/${templateName}/images/folder.gif" alt="[Folder]" /></td>
					<td><span class="gensmall">${I18n.getMessage("ForumListing.noNewMessages")}</span></td>
					<td>&nbsp;&nbsp;</td>
					<td align="center" width="20"><img src="${contextPath}/templates/${templateName}/images/folder_lock.gif" alt="[Lock Folder]" /></td>
					<td><span class="gensmall">${I18n.getMessage("ForumListing.blocked")}</span></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<#include "bottom.htm"/>