<#setting number_format = "#"/>
<#setting datetime_format = dateTimeFormat/>
<#assign logged = logged?default(false)/>
<#assign language = language?default("en_US")/>
<#assign hasCodeBlock = hasCodeBlock?default(false)/>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja-jp" lang="ja-jp" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=${encoding}" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/style.css?${startupTime} );</style>
<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/common.css );</style>
<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/main.css );</style>
<script language="javascript">
function doBookmarkLink() {

	var curruntUrl = location.href;
	var pageTitle = document.getElementsByTagName("title")[0].innerHTML;
	var linkName = "${I18n.getMessage("Top.link.bookmark")}";
	
	if(navigator.userAgent.indexOf("MSIE") > -1){
		
		document.write('<a href="javascript:window.external.AddFavorite(\'' + curruntUrl + '\', \'' + pageTitle + '\');">' + linkName + '</a>');
		
	} else if(navigator.userAgent.indexOf("Opera") > -1){
		
		document.write('<a href="' + curruntUrl + '" rel="sidebar" title="' + pageTitle + '">' + linkName + '</a>');
		
	} else if(navigator.userAgent.indexOf("Firefox") > -1){

		document.write('<a href="javascript:window.sidebar.addPanel(\'' + pageTitle + '\', \'' + curruntUrl + '\', \'\');">' + linkName + '</a>');
	}
}
</script>

<#if hasCodeBlock>
	<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/SyntaxHighlighter.css?${startupTime} );</style>
</#if>

<title>${pageTitle?default("JForum")?html}</title>

</head>
<body class="${language}">
<div>
	<div class="page_top">
		<div class="pt_left"><a href="http://www.game-if.com"><img src="${contextPath}/templates/${templateName}/images/logo.gif" title="${I18n.getMessage("Top.link.logo")}"/></a></div>
		<div class="pt_right">
			<#if !logged>
			<a href="mypage.html" title="${I18n.getMessage("Top.link.login")}">${I18n.getMessage("Top.link.login")}</a> |
			<a href="registryMember.html" title="${I18n.getMessage("Top.link.registry")}">${I18n.getMessage("Top.link.registry")}</a> |
			</#if>
			<a href="#" title="${I18n.getMessage("Top.link.guide")}">${I18n.getMessage("Top.link.guide")}</a> |
			<#if !logged>
			<a href="inputInquiry.html" title="${I18n.getMessage("Top.link.inquiry")}">${I18n.getMessage("Top.link.inquiry")}</a> |
			</#if>
			<#if logged>
			<a href="inputMemberInquiry.html" title="${I18n.getMessage("Top.link.inquiry")}">${I18n.getMessage("Top.link.inquiry")}</a> |
			</#if>
			<script language="javascript">doBookmarkLink();</script>
		</div>
		<div class="clearbox"></div>
	</div>
</div>
<div class="page_top_menu">
	<a href="http://localhost:8080/gameif" title="${I18n.getMessage("Top.link.top")}">${I18n.getMessage("Top.link.top")}</a>
	<a href="http://localhost:8080/gameif/games.html" title="${I18n.getMessage("Top.link.game")}">${I18n.getMessage("Top.link.game")}</a>
	<a href="http://localhost:8080/gameif/chargePointSelect.html" title="${I18n.getMessage("Top.link.charge")}">${I18n.getMessage("Top.link.charge")}</a>
	<a href="http://localhost:8080/forum" title="${I18n.getMessage("Top.link.comunity")}">${I18n.getMessage("Top.link.comunity")}</a>
	<a href="http://localhost/info" title="${I18n.getMessage("Top.link.news")}">${I18n.getMessage("Top.link.news")}</a>
</div>
<br/>
<table width="980px" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td>
			<dl class="light_box" style="margin:10px 0px 0px 0px;">
				<dt>
					<strong>${forumTitle?default("JForum")}</strong>
					<span>
						<a id="backtosite" class="mainmenu" href="${homepageLink}">${I18n.getMessage("ForumBase.backToSite")}</a>
						<!-- 
						<a id="search" class="mainmenu" href="${JForumContext.encodeURL("/search/filters")}">${I18n.getMessage("ForumBase.search")}</a>
						-->
						<a id="latest" class="mainmenu" href="${JForumContext.encodeURL("/recentTopics/list")}">${I18n.getMessage("ForumBase.topic.recent")}</a>
						
						<a id="hottest" class="mainmenu" href="${JForumContext.encodeURL("/hottestTopics/list")}">${I18n.getMessage("ForumBase.topic.hottest")}</a>
						
						<!-- <a id="latest2" class="mainmenu" href="${JForumContext.encodeURL("/user/list")}">${I18n.getMessage("ForumBase.user.list")}</a> -->
						
						<#if logged>
							<a id="myprofile" class="mainmenu" href="${JForumContext.encodeURL("/user/edit/${session.userId}")}">${I18n.getMessage("ForumBase.profile")}</a>
							
							<#if bookmarksEnabled>
								<a class="mainmenu" href="${JForumContext.encodeURL("/bookmarks/list/${session.userId}")}">${I18n.getMessage("ForumBase.bookmarks.mybag")}</a>
							</#if>
							
							<a id="privatemessages" class="mainmenu" href="${JForumContext.encodeURL("/pm/inbox")}">
								<#if (session.privateMessages > 0)>
									${I18n.getMessage("ForumBase.newPm")}: (${ForumBase.private.messages})
								<#else>
									${I18n.getMessage("ForumBase.private.messages")}
								</#if>
							</a>
						</#if>
					</span>
				</dt>
				<dd style="height:0px;"></dd>
			</dl>
		</td>
	</tr>
	<tr>
		<td>