<#include "header.htm"/>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
	<tr>
		<td class="bodyline">
			<script type="text/javascript">
			function select_switch(status) {
				for (i = 0; i < document.privmsg_list.length; i++) {
					document.privmsg_list.elements[i].checked = status;
				}
			}
			</script>
			<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
				<tr>
					<td align="center" width="100%">
						<table cellspacing="2" cellpadding="2" border="0" style="margin-top:15px;">
							<tr valign="middle">
								<td>
									<#if !inbox?default(false)>
									<a href="${JForumContext.encodeURL("/pm/inbox")}">
									</#if>
									<img src="${contextPath}/templates/${templateName}/images/msg_inbox.gif" border="0" alt="[Inbox]" />
									<#if !inbox?default(false)>
									</a>
									</#if>
								</td>
								<td>
									<#if !inbox?default(false)>
									<a href="${JForumContext.encodeURL("/pm/inbox")}">
									<#else>
									<span style="color:#F60;font-weight:bold;">
									</#if>
									${I18n.getMessage("PrivateMessage.inbox")} &nbsp;
									<#if !inbox?default(false)>
									</a>
									<#else>
									</span>
									</#if>
								</td>
								<td>
									<#if !sentbox?default(false)>
									<a href="${JForumContext.encodeURL("/pm/sentbox")}">
									</#if>
									<img src="${contextPath}/templates/${templateName}/images/msg_sentbox.gif" border="0" alt="[Sentbox]" />
									<#if !sentbox?default(false)>
									</a>
									</#if>
								</td>
								<td>
									<#if !sentbox?default(false)>
									<a href="${JForumContext.encodeURL("/pm/sentbox")}">
									<#else>
									<span style="color:#F60;font-weight:bold;">
									</#if>
									${I18n.getMessage("PrivateMessage.sentbox")}&nbsp;
									<#if !sentbox?default(false)>
									</a>
									<#else>
									</span>
									</#if>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<form style="margin:0px;" action="${JForumContext.encodeURL("/jforum")}" method="post" name="privmsg_list" id="privmsg_list" onsubmit="return confirm('削除します。よろしいですか？');">
			<input type="hidden" name="module" value="${moduleName}" />
			<input type="hidden" name="action" value="delete" />
				<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" style="margin-bottom:10px;">
					<tr>
						<td valign="middle" align="left">
							<input type="button" style="width:100px;" value="新規メッセージ" onclick="location='${JForumContext.encodeURL("/pm/send")}';" />
						</td>
					</tr>
				</table>
				<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
					<tr>
						<th class="thcornerl" nowrap="nowrap" width="5%" height="25">
							&nbsp;&nbsp;
						</th>
						<th class="thtop" nowrap="nowrap" width="55%">
							&nbsp;${I18n.getMessage("PrivateMessage.subject")}&nbsp;
						</th>
						<th class="thtop" nowrap="nowrap" width="20%">
							<#if inbox?default(false)>
							&nbsp;${I18n.getMessage("PrivateMessage.from")}&nbsp;
							<#else>
							&nbsp;${I18n.getMessage("PrivateMessage.to")}&nbsp;
							</#if>
						</th>
						<th class="thtop" nowrap="nowrap" width="15%">
							&nbsp;${I18n.getMessage("PrivateMessage.date")}&nbsp;
						</th>
						<th class="thcornerr" nowrap="nowrap" width="5%">
							&nbsp;&nbsp;
						</th>
					</tr>
					<#list pmList as pm>
					<tr height="30">
						<td class="row1" valign="middle" align="center" width="5%">
							<#if pm.type == NEW>
								<img src="${contextPath}/templates/${templateName}/images/folder_new.gif" alt="New Folder" />
							<#else>
								<img src="${contextPath}/templates/${templateName}/images/folder.gif" alt="Folder" />
							</#if>
						</td>
						<td class="row1" valign="middle" width="55%"><span class="topictitle">&nbsp;<a class="topictitle" href="${JForumContext.encodeURL("/pm/read/${pm.id}")}">${pm.post.subject?html}</a></span></td>
						<td class="row1" valign="middle" align="center" width="20%">
							<#if inbox?default(false)>
							<span class="name">&nbsp;<a class="name" href="${JForumContext.encodeURL("/user/profile/${pm.fromUser.id}")}">${pm.fromUser.username}</a></span>
							<#else>
							<span class="name">&nbsp;<a class="name" href="${JForumContext.encodeURL("/user/profile/${pm.toUser.id}")}">${pm.toUser.username}</a></span>
							</#if>
						</td>
						<td class="row1" valign="middle" align="center" width="15%"><span class="postdetails">${pm.formatedDate}</span></td>
						<td class="row1" valign="middle" align="center" width="5%"><span class="postdetails"><input type="checkbox" value="${pm.id}" name="id" /></span></td>
					</tr>
					</#list>
					<tr>
						<td class="catbottom" align="right" colspan="5" height="28">
							&nbsp; <input type="submit" value="${I18n.getMessage("PrivateMessage.deleteSelected")}" name="delete" />
							<!--
							&nbsp; <input class="liteoption" type="submit" value="${I18n.getMessage("PrivateMessage.deleteAll")}" name="deleteall" />
							-->
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
					<tr>
						<td valign="middle" align="left">
							<input type="button" value="新規メッセージ" onclick="location='${JForumContext.encodeURL("/pm/send")}';" />
						</td>
						<td valign="middle" align="left" width="100%"><span class="nav"></span></td>
						<td valign="top" nowrap="nowrap" align="right">
							<b><span class="gensmall"><a class="gensmall" href="javascript:select_switch(true);">${I18n.getMessage("PrivateMessage.checkAll")}</a> :
							<a class="gensmall" href="javascript:select_switch(false);">${I18n.getMessage("PrivateMessage.uncheckAll")}</a></span></b>
							<br />
							<span class="nav">
								<br />
							</span>
						</td>
					</tr>
				</table>
			</form>
			<div align="center"></div>
		</td>
	</tr>
</table>
<#include "bottom.htm"/>