<#include "header.htm"/>
<#import "../macros/pagination.ftl" as pagination/>
<#import "../macros/presentation.ftl" as presentation/>

<#assign canEditSomeMessage = false/>

<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/jquery.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/jquery.jeditable.pack.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/post_show.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/post.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/pagination.js?${startupTime}"></script>

<#if logged>
	<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/watch.js?${startupTime}"></script>
</#if>

<script type="text/javascript">
<!--
<#include "js/karma.js">
<#include "js/utils.js"/>

<#if canRemove || isModerator || isAdmin>
	function confirmDelete(postId)
	{
		if (confirm("${I18n.getMessage("Moderation.ConfirmPostDelete")}")) {
			var reason = prompt("${I18n.getMessage("ModerationLog.changeReason")}");

			if (reason == null || reason == "") {
				alert("${I18n.getMessage("ModerationLog.reasonIsEmpty")}");
				return false;
			}
			else {
				var link = document.getElementById("delete" + postId);
				link.href += "&log_description=" + encodeURIComponent(reason) + "&log_type=1";
			}

			return true;
		}
		
		return false;
	}
</#if>

-->
</script>

<#if moderator>
	<script type="text/JavaScript" src="${JForumContext.encodeURL("/js/list/moderation")}"></script>
</#if>
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
	<tr>
		<td class="bodyline" valign="top">
			<table cellspacing="0" cellpadding="0" width="100%" align="center" style="margin:15px 0px;">
				<tr>
					<td align="left" colspan="2">
						<a href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")} </a> &raquo;
            			<a href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name} </a> &raquo;
						<a href="${JForumContext.encodeURL("/posts/list/${topic.id}")}" name="top" class="maintitle" id="top">${topic.title?html}</a>
						<#if rssEnabled>
						&nbsp;<a href="${contextPath}/rss/topicPosts/${topic.id}${extension}"><img align="top" src="${contextPath}/templates/${templateName}/images/xml_button.gif" border="0" alt="XML" /></a>
						</#if>
					</td>
					<td valign="middle"  nowrap="nowrap" align="right" class="gensmall">
						<@presentation.forumsComboTable/>
						<#if moderator>
							<br />
							<#if openModeration?default(false)>
								<#assign link = ""/>
								<#if (start > 0)>
									<#assign link = JForumContext.encodeURL("/forums/show/" + start + "/" + forum.id)/>
								<#else>
									<#assign link = JForumContext.encodeURL("/forums/show/" + forum.id)/>
								</#if>
								<a class="gensmall" href="${link}">${I18n.getMessage("Moderation.CloseModeration")}</a>
							<#else>
								<a class="gensmall" href="${contextPath}/forums/moderation/<#if (start > 0)>${start}/</#if>${forum.id}${extension}">${I18n.getMessage("Moderation.OpenModeration")}</a>
							</#if>
						</#if>
					</td>
				</tr>
			</table>
			<table cellspacing="0" cellpadding="0" width="100%" align="center" style="margin: 0px 0px 10px 0px;">
				<tr>
					<#if !readonly>
					<td width="8%" align="left" valign="bottom" nowrap="nowrap">
						<#if topic.status == STATUS_LOCKED>
							<span class="icon_reply_locked"><img src="${contextPath}/images/transp.gif" alt="" /></span>
						<#else>
							<#if !readonly>
								<input type="button" value="${I18n.getMessage("Button.reply.new")}" style="width:90px;" onclick="location='${JForumContext.encodeURL("/posts/reply/${start}/${topic.id}")}';"/>
							<#else>
								<#assign colspan = "2"/>
							</#if>
						</#if>
						<input type="button" value="${I18n.getMessage("Button.topic.new")}" style="width:90px;" onclick="location='${JForumContext.encodeURL("/jforum${extension}?module=posts&amp;action=insert&amp;forum_id=${forum.id}", "")}';"/>
					</td>
					</#if>
					<td valign="middle" align="right"><#assign paginationData><@pagination.doPagination "list", topic.id/></#assign>${paginationData}</td>
				</tr>
			</table>

			<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
				<#if poll?exists>
					<tr>
						<td class="cathead cattitle" align="center" colspan="2" nowrap="nowrap" width="100%">${I18n.getMessage("PostShow.pollTitle")}</td>
					</tr>
					<tr>
						<td class="row1" colspan="2" align="center">
							<#if (poll.open && canVoteOnPoll && !request.getParameter("viewResults")?exists)>
								<form action="${JForumContext.encodeURL("/jforum")}" method="post">
									<input type="hidden" name="action" value="vote" />
									<input type="hidden" name="module" value="${moduleName}" />
									<input type="hidden" name="poll_id" value="${poll.id}" />
									<input type="hidden" name="topic_id" value="${topic.id}" />
									<div class="poll">
										<span class="strong">${poll.label?html}</span>
										<table class="poll">
										<#list poll.options as option>
											<tr>
												<td><input type="radio" name="poll_option" value="${option.id}">${option.text?html}</input></td>
											</tr>
										</#list>
										</table>
										<input type="submit" value="${I18n.getMessage("PostShow.pollVote")}"></input><br />
										<span class="gensmall" align="center"><a href="${JForumContext.encodeURL("/jforum${extension}?module=posts&amp;action=list&amp;topic_id=${topic.id}&amp;viewResults=true", "")}">${I18n.getMessage("PostShow.showPollResults")}</a></span>
									</div>
								</form>
							<#else>
								<@presentation.renderPoll poll/>
							</#if>
						</td>
					</tr>
				</#if>
				
				<tr@height="30">
					<th nowrap="nowrap" width="20%" height="26">${I18n.getMessage("PostShow.author")}</th>
					<th nowrap="nowrap" width="80%">${I18n.getMessage("PostShow.messageTitle")}</th>
				</tr>

				<!-- POST LISTING --> 
				<#assign rowColor = ""/>
				<#list posts as post>
					<#if post_index % 2 == 0>
						<#assign rowColor = "row1">
					<#else>
						<#assign rowColor = "row2">
					</#if>
	
					<#assign user = users.get(post.userId)/>
					<#assign canEditCurrentMessage = (post.canEdit && topic.status != STATUS_LOCKED) || moderatorCanEdit/>
					<tr>
						<td colspan="2" style="padding:0px;">
							<#include "post_show_action_buttons_inc.htm"/>
						</td>
					</tr>
					<tr>
						<!-- Username -->
						<#assign rowspan = "3"/>
						<#assign useSignature = (user.attachSignatureEnabled && user.signature?exists && user.signature?length > 0 && post.isSignatureEnabled())/>

						<#if useSignature>
							<#assign rowspan = "3"/>
						<#else>
							<#assign rowspan = "2"/>
						</#if>

						<td class="${rowColor}" valign="top" align="left" rowspan="${rowspan}">
							<#include "post_show_user_inc.htm"/>
						</td>
		
						<!-- Message -->
						<td class="${rowColor}" valign="top" id="post_text_${post.id}">
							<span class="postbody">
								<#if canEditCurrentMessage>
									<#assign canEditSomeMessage = true/>
									<div class="edit_area" id="${post.id}">${post.text}</div>
								<#else>
									${post.text}
								</#if>
							</span>

							<!-- Attachments -->
							<#if post.hasAttachments() && (canDownloadAttachments || attachmentsEnabled)>
								<#assign attachments = am.getAttachments(post.id, post.forumId)/>

								<#include "post_show_attachments_inc.htm"/>
							</#if>

							<#if (post.editCount > 0) && post.editTime?exists>
								<#if post.editCount == 1>
									<#assign editCountMessage = "PostShow.editCountSingle"/>
								<#else>
									<#assign editCountMessage = "PostShow.editCountMany"/>
								</#if>
								
								<p><i><span class="gensmall">${I18n.getMessage(editCountMessage, [post.editCount, post.editTime?datetime?string])}</span></i></p>
							</#if>
						</td>
					</tr>

					<#if useSignature>
						<tr>
							<td colspan="2" class="${rowColor}" width="100%" height="28"><hr/><span class="gensmall">${user.signature}</span></td>
						</tr>
					</#if>
		
					<tr> 
						<td class="${rowColor}" valign="bottom" nowrap="nowrap" height="28" width="100%">
							<#include "post_show_user_profile_inc.htm"/>					
						</td>
					</tr>
		
				</#list>
				<!-- END OF POST LISTING -->
		
				<tr align="center">
					<td class="catbottom" colspan="2" height="20">
						<table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td align="center"><span class="gensmall">&nbsp;</span></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		
			<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" style="margin-top:10px;">
				<tr>
					<#if !readonly>
					<td width="8%" align="left" valign="bottom" nowrap="nowrap">
						<input type="button" value="${I18n.getMessage("Button.topic.new")}" style="width:90px;" onclick="location='${JForumContext.encodeURL("/jforum${extension}?module=posts&amp;action=insert&amp;forum_id=${forum.id}", "")}';"/>
						<#if topic.status == STATUS_LOCKED>
							<span class="icon_reply_locked"><img src="${contextPath}/images/transp.gif" alt="" /></span>
						<#else>
							<#if !readonly>
								<input type="button" value="${I18n.getMessage("Button.reply.new")}" style="width:90px;" onclick="location='${JForumContext.encodeURL("/posts/reply/${start}/${topic.id}")}';"/>
							<#else>
								<#assign colspan = "2"/>
							</#if>
			  			</#if>
					</td>
					</#if>
					<td valign="middle" align="right">${paginationData}</td>
				</tr>
			</table>

			<table cellspacing="2" cellpadding="2" width="100%" border="0" style="margin-top:10px;">
				<tr>
					<td align="left" valign="top" class="gensmall">
						<#if logged>
							<#if bookmarksEnabled>
								<a href="javascript:addBookmark(2, ${topic.id});"><img align="absmiddle" src="${contextPath}/templates/${templateName}/images/icon_bookmark.gif" align="middle"  alt="XML" />&nbsp;${I18n.getMessage("Bookmarks.addTo")}</a>
								<br>
							</#if>
						</#if>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<a name="quick"></a>

<script type="text/javascript">
$(document).ready(function() {
	limitURLSize();

	<#if moderatorCanEdit || canEditSomeMessage>
		$(".edit_area").editable("${contextPath}/jforum${extension}?module=ajax&action=savePost", {
			submit: '${I18n.getMessage("Update")}',
			cancel: '${I18n.getMessage("cancel")}',
			type: 'textarea',
			tooltip: '${I18n.getMessage("PostShow.doubleClickEdit")}',
			rows: 15,
			width: '100%',
			event: 'dblclick',
			indicator: "<img src='${contextPath}/templates/${templateName}/images/indicator.gif'>",
			postload: '${contextPath}/jforum${extension}?module=ajax&action=loadPostContents',
			cssclass: 'inlineedit',
			loadtext: '${I18n.getMessage("PostShow.loading")}...',
			beforesubmit: function(submitdata) { 
				<#if moderationLoggingEnabled>
					var message = prompt("${I18n.getMessage("ModerationLog.changeReason")}");

					if (message == null || message == "") {
						alert("${I18n.getMessage("ModerationLog.reasonIsEmpty")}");
						return false;
					}
					else {
						submitdata["log_description"] = message;
						submitdata["log_type"] = 2;
					}
				</#if>

				return true;
			}
		}, function(s) {
			<#if hasCodeBlock>
				dp.sh.HighlightAll('code');
			<#else>
				if (s.indexOf("name=\"code\"") > -1) {
					document.location.reload(true);
				}
			</#if>
		});
	</#if>
});
</script>

<#include "bottom.htm"/>