/*********【共通】トップ ********************************************************/
dl.pop_top {
	width:100%;
	height:35px;
}
dl.pop_top > dt {
	float:left;
}
dl.pop_top > dd {
	height:35px;
	position:relative;
	margin-left:170px;
}

/*********【共通】フォーム ******************************************************/
form > dl > dt {
	width:150px!important;
}
form > dl > dd {
	margin-left:160px!important;
}
form > div.submit {
	margin-left:160px!important;
}

/*********【友達メールアドレスインポート】メールアドレス一覧 ********************/
div.select_mail {
	border:1px solid #DDD;
	background-color:#F9F9F9;
	height:270px;
	padding:3px;
	OVERFLOW-y:scroll;
}
div.select_mail > dl > dt {
	float:left;
	height:24;
}
div.select_mail > dl > dd {
	height:24px;
	margin-left:250px;
}
